{% extends 'app/base.html' %}
{% block content %}
    <h2>Panel de Estudiante</h2>
     <!-- Botón para cerrar sesión -->
   <form action="{% url 'logout' %}" method="post" class="float-md-right">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
</form>
<div class="row">
    {% for class in classes %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{% static 'path_to_default_image.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ class.name }}</h5>
                <p class="card-text">Nivel: {{ class.level }}</p>
                <p class="card-text">Horas Requeridas: {{ class.required_hours }}</p>
                <p class="card-text">Fecha de Inicio: {{ class.start_date }}</p>
                <p class="card-text">Fecha de Fin: {{ class.end_date }}</p>
                <a href="{% url 'view_class' class.id %}" class="btn btn-success">Ver Clase</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
    <h3>Sistema de Avances</h3>
    <div>
        <h4>Seguimiento de Progreso</h4>
        <img src="https://via.placeholder.com/400x200.png?text=Progress+Bar+Example" alt="Progress Bar Example">
        <p>Aquí puedes ver tu progreso en los diferentes cursos.</p>
    </div>

    <div>
        <h4>Visualización de Calificaciones</h4>
        <img src="https://via.placeholder.com/400x200.png?text=Grades+Example" alt="Grades Example">
        <p>Consulta tus calificaciones y retroalimentación de los profesores.</p>
    </div>

    <h3>Gestión de Documentos</h3>
    <div>
        <h4>Documentos y Videos</h4>
        <img src="https://via.placeholder.com/400x200.png?text=Document+Management+Example" alt="Document Management Example">
        <p>Administra y accede a documentos y videos relacionados con tus cursos.</p>
    </div>

    <h3>Agenda de Estudio</h3>
    <div>
        <h4>Calendario de Estudio</h4>
        <img src="https://via.placeholder.com/400x200.png?text=Study+Schedule+Example" alt="Study Schedule Example">
        <p>Crea y gestiona tu horario de estudio para mantenerse organizado.</p>
    </div>

    <h3>Notificaciones</h3>
    <div>
        <h4>Sistema de Alertas</h4>
        <img src="https://via.placeholder.com/400x200.png?text=Notifications+Example" alt="Notifications Example">
        <p>Recibe notificaciones sobre nuevas asignaciones y recordatorios importantes.</p>
    </div>

  
{% endblock %}
