{% extends 'app/base.html' %}
{% block content %}
{% load static %} 
<div class="container">
    <h1>Student Dashboard</h1>
    <!-- Botón para abrir el modal de editar usuario -->
    <button type="button" class="btn btn-warning mt-3" data-toggle="modal" data-target="#editUserModal">Editar Datos</button>

    <!-- Modal para editar usuario -->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Editar Datos del Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'edit_user' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <!-- Los campos del formulario se incluirán aquí mediante una plantilla -->
                        {% include 'app/edit_user_form.html' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- Botón para cerrar sesión -->
        <form action="{% url 'logout' %}" method="post" class="float-md-right">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mb-2">Cerrar sesión</button>
        </form>
    </div>
    <!-- Contenido adicional del panel de estudiante -->
    <h2>Asignaciones</h2>
    <!-- Aquí iría el contenido específico del estudiante -->
</div>
{% endblock %}

<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
